@font-face {
  font-family: "Gotham";
  src: local("Gotham Black"), local("Gotham-Ultra"),
    url("./../res/fonts/Gotham-Black.woff") format("woff2"),
    url("./../res/fonts/Gotham-Ultra.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"),
    url('./../res/fonts/Poppins-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'League Spartan';
  src: local('League spartan'),
    url('./../res/fonts/LeagueSpartan-VariableFont_wght.woff');
  font-family: normal;
  font-style: normal;
}