header {
  min-width: 100%;
  max-width: 100%;
  min-height: 3rem;
  max-height: 3rem;
  background: var(--primary);
  color: var(--secondary);
  font-family: var(--font1);
  font-weight: 500;
  background: transparent;
  position: fixed;
  z-index: 9;
}

header .left {
  padding: 1rem;
}

header .left .logo {
  font-size: var(--fs-header);
}

header .left .logo-menu{
  display: none;
}

header .right .nav {
  /* dont uncomment following 2 lines code breaks the drop down menu */
  /* position: absolute; */
  /* top: 3rem; */
  
  width: 100%;
  text-align: right;
  padding: 1rem;
  /* margin top is necessary to avoid the menu from going down a bit and breaking nice look */
  margin-top: -0.5rem;

  background-color: var(--secondary);
  /* following 2 lines are not rqd but may be needed to make design a bit more stupid */
  /* border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; */

  transform: scale(1, 0);
  -webkit-transform: scale(1,0);
  transform-origin: top;
  -webkit-transform-origin: top;
  transition: transform 200ms ease-out;
  -webkit-transition: transform 200ms ease-out;
}

.nav .navItems {
  display: block;
  color: var(--background-dark);
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 400ms ease-in 200ms;
  -webkit-transition: opacity 400ms ease-in 200ms;
}

.nav-link-container {
  padding: 0.5rem 0;
  cursor: pointer;
}

.nav-link-container a {
  text-decoration: none;
  color: var(--accent);
}

.nav-link-container:hover a {
  color: var(--primary);
}
