article .intro{
    text-align:center;
    background:var(--primary);
}
article .lokesh_heading{
    margin:0 1rem;
    font-size: var(--fs-header);
    margin-bottom: 1rem;
    font-family: var(--font1);
    
    
}
article .lokesh_text-content{
    padding:1rem 0rem;
    width:80%;
    margin:0 auto 0 auto;
}
article .company_title{
    font-family: 'Monoton', cursive;
    font-weight: 500;
    
}
article .company_title::before{
    content:"\a";
    white-space: pre;
}
article .lokesh_text-content{
    color:var(--secondary)
}
article .para1,article .para2{
    margin-bottom: 1rem;
}