@import url('https://fonts.googleapis.com/css2?family=League+Spartan&family=Poppins&display=swap');

:root{
  --primary: #fff;
  --secondary: #222;
  --accent: #CACDCD;
  --font1: 'League Spartan', sans-serif;
  --font2: 'Poppins', sans-serif;
  --fs-header: 1.5rem;
  --fs-large: 1.25rem;
  --fs-medium: 1.15rem;
  --fs-small: 0.85rem;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-family: var(--font2);
}