img.open-nav,
img.hide-nav {
  width: var(--fs-header);
  margin: .1rem;
  padding-top: .1rem;
}

.nav-toggle {
  display: none;
}

/* nav toggle affects header */

/* following two elements refer to changing the logo when menubar is toggled */
.nav-toggle:checked ~ .left .logo-default{
  display: none;
}

.nav-toggle:checked ~ .left .logo-menu{
  display: block;
  font-weight: 600;
}


/* following css refers to the menu bar being toggled */

.nav-toggle:checked ~ .right .nav {
  display: block;
  transform: scale(1, 1);
}

.nav-toggle:checked ~ .right .nav .navItems{
  opacity: 1;
  /* dont mess with this transition, it breaks the menu items opacity transition */
  /* transition: opacity 100ms ease-out; */
}

.nav-toggle-label {
  position: absolute;
  top: .5rem;
  right: 1rem;
  height: 100%;
}

.nav-toggle-label > img.open-nav {
  display: inline;
}

.nav-toggle-label > img.hide-nav {
  display: none;
}

.nav-toggle:checked ~ .right .nav-toggle-label > img.open-nav {
  display: none;
}

.nav-toggle:checked ~ .right .nav-toggle-label > img.hide-nav {
  transition: 1s ease-in-out;
  display: inline;
}
