footer {
  text-align: center;
  background: var(--secondary);
}

footer .contact_us {
  padding: 3rem 1rem;
}

footer .lokesh_title {
  color: var(--primary);
  padding-bottom: 1rem;
  font-size: var(--fs-header);
}

footer .lokesh_address, footer .lokesh_email, footer .lokesh_contact{
  /* background: green; */
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

footer .lokesh_email img, footer .lokesh_contact img{
  /* background-color: aqua; */
  /* margin-top: 1rem; */
  width: var(--fs-header);
}
.lokesh_text-content{
  /* background-color: aqua; */
  color: var(--accent);
  padding-left: .5rem;
}

footer .copy{
  color: var(--primary);
  padding: 1rem;
  width: fit-content;
}


@media screen and (min-width: 50rem){
  footer .contact_us{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }

  footer .contact_us a:hover span{
    /* background: aqua; */
    color: var(--primary);
  }
}