footer {
  text-align: center;
  background: var(--secondary);
}

footer .contact_us {
  padding: 3rem 1rem;
  /* background: aqua; */
}

footer .lokesh_title {
  color: var(--primary);
  padding-bottom: 1rem;
  font-size: var(--fs-header);
}

footer .lokesh_address, footer .lokesh_email, footer .lokesh_contact{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

footer .lokesh_address{
  /* background: green; */
  width: fit-content;
  margin: auto;
  /* text-align: center; */
}


footer .lokesh_email img, footer .lokesh_contact img{
  /* background-color: aqua; */
  /* margin-top: 1rem; */
  width: var(--fs-header);
}
.lokesh_text-content{
  /* background-color: aqua; */
  color: var(--primary);
  filter: brightness(70%);
  padding-left: .5rem;
  color: var(--primary);
}

footer .lokesh_address .lokesh_text-content{
  /* background: aqua; */
  min-width: 100%;
  max-width: 100%;
  padding: 0;

  /* not of any use margin: auto at line 25 did it */
  /* text-align: center; */
}



/* social media design here */

footer .social_media{
  /* background: aqua; */
  min-width: fit-content;
  max-width: fit-content;
  margin: 0 auto;
}

footer .social_media .edit img{
  height:2.5rem;
  width: 2.5rem;
 
  border-radius: 0.8rem;
  display: inline-block;
  /* background: aqua; */
}

footer .social_media  img{
  height:2.8rem;
  width: 2.5rem;  
}

footer .social_media a{
  margin: 0 1.5rem;
}


/* copyright design here */

footer .copy{
  color: var(--primary);
  padding: 1rem;
  width: 100%;
}

footer .copy .first::after{
  content: "\a";
  white-space: pre;
}


@media screen and (min-width: 50rem){
  footer .contact_us{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
  }

  footer .contact_us a:hover span{
    /* background: aqua; */
    color: var(--primary);
  }

  footer .copy .first::after{
    all:unset;
  }

  footer .social_media{
    margin-bottom: 2rem;
  }

  footer .social_media a{
    margin: 0 3rem;
  }

}