header {
  min-width: 100%;
  max-width: 100%;
  min-height: 3rem;
  max-height: 3rem;
  background: var(--primary);
  color: var(--secondary);
  font-family: var(--font1);
  font-weight: 500;
  position: fixed;
  z-index: 9;
}

header .left {
  min-height: 3rem;
  max-height: 3rem;
  padding: 0 1rem;

  /* line height is used to vertically center header */
  line-height: 3rem;

  /* just for testing */
  /* margin: auto; */
  /* background: antiquewhite; */
}

header .left .logo {
  min-height: var(--fs-header);
  max-height: var(--fs-header);
  font-size: var(--fs-header);
  
  
  /* just for testing */
  /* margin-top: auto; */
  /* display: block; */
  /* background: aqua; */
}

header .left .logo-menu{
  display: none;
}

header .right .nav {
  /* absolute position of nav to set it in one place in page ease of hiding/showing */
  position: absolute;
  
  width: 100%;
  text-align: right;
  padding: 1rem;
  /* margin top is removed coz it broke  */
  /* top: 3rem; */
  /* margin-top: -0.4rem; */

  background-color: var(--secondary);
  /* following 2 lines are not rqd but may be needed to make design a bit more stupid */
  /* border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; */

  transform: scale(1, 0);
  -webkit-transform: scale(1,0);
  transform-origin: top;
  -webkit-transform-origin: top;
  transition: transform 200ms ease-out;
  -webkit-transition: transform 200ms ease-out;
}

.nav .navItems {
  display: block;
  color: var(--background-dark);
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 400ms ease-in 200ms;
  -webkit-transition: opacity 400ms ease-in 200ms;
}

.nav-link-container {
  padding: 0.5rem 0;
  cursor: pointer;
}

.nav-link-container a {
  text-decoration: none;
  color: var(--primary);
  filter: brightness(70%);
}

/* not reqd for mobile version */
/* .nav-link-container:hover a {
  color: var(--primary);
} */
