header {
  min-width: 100%;
  max-width: 100%;
  min-height: 5rem;
  max-height: 5rem;
  background: var(--primary);
  color: var(--secondary);
  font-family: var(--font1);
  font-weight: 500;
  position: fixed;
  z-index: 9;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
}

header .left {
  padding: 1rem;
}

header .left .logo {
  font-size: var(--fs-header);
}

header .left .logo-default {
  display: none;
}

.nav .navItems {
  text-decoration: none;
  text-transform: uppercase;

  display: flex;
  flex-flow: row column;
  min-width: fit-content;
  max-width: fit-content;
}

.nav-link-container {
  min-width: fit-content;
  max-width: fit-content;
  margin: 0 1rem;
  cursor: pointer;
  transition: scale 100ms ease-in-out;
}

.nav-link-container:hover{
  scale: 110%;
}

.nav-link-container a {
  text-decoration: none;
  color: var(--secondary);
  transition: scale 400ms ease-in-out;
}

.nav-toggle{
  display: none;
}

.nav-toggle-label {
  display: none;
}