/* The container <div> - needed to position the dropdown button and content */
.dropdown {
  position: relative;
  display: inline-block;
  /* background: aqua; */
}

.dropdown:hover{
  scale: unset;
}


/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: var(--secondary);
  
  /* don't change font distorts nav menu */
  font-family: var(--font1);
  font-size: var(--fs-normal);
  text-transform: uppercase;
  
  padding: 0;
  border: none;
  text-align: top;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  min-width: calc(100vw/7);
  max-width: calc(100vw/7);
  min-height: fit-content;
  max-height: fit-content;
  
  position: absolute;
  top: .8rem;
  left: -1rem;

  margin: .1rem 0;
  padding: 0;
  z-index: 1;
  
  background-color: var(--primary);
  box-shadow: 0 .5rem 1rem 0px rgba(0,0,0,0.2);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: inline-block;
}

/* Links inside the dropdown */
.dropdown-content a {
  padding: .2rem 1rem;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: var(--primary);
  background-color: var(--accent-dark);
}
