article .about_us{
  min-width: 100%;
  max-width: 100%;
  min-height: fit-content;
  max-height: fit-content;
  padding: 3rem 2rem;
}

.about_us > div{
  margin-bottom: 2.5rem;
}

.about_us .our-story{
  margin-top: 3rem;
}

section.about_us .vk-title{
  text-align: center;
  color: var(--secondary);
  font-size: calc(var(--fs-header) * 1.25);
  padding-bottom: 1rem;
}
.about_us .vk-text-content{
  text-align: justify;
  text-justify: inter-word;
  word-spacing: .1rem;
  font-size: var(--fs-medium);
}

@media screen and (min-width: 60rem){
  .about-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
  }

  .about-container > div{
    margin: 0 5vw;
  }

  .about_us .our-story{
    margin-top: 0;
  }
}