article .about_us{
  min-width: 100%;
  max-width: 100%;
  min-height: fit-content;
  max-height: fit-content;
  padding: 3rem 2rem;
  text-align: center;
}

.about_us > div{
  margin-bottom: 2.5rem;
}

section.about_us .vk-title{
  color: var(--secondary);
  font-size: calc(var(--fs-header) * 1.25);
  padding-bottom: 1rem;
}
.about_us .vk-text-content{
  word-spacing: .1rem;
  font-size: var(--fs-medium);
}