article .intro {
  min-width: 100vw;
  max-width: 100vw;
  min-height: calc(100vh);
  max-height: calc(100vh);

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;

  padding-top: 10rem;
  text-align: center;
  background-image: url("./../../res/images//test/intro.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  color: var(--primary);

  /* failed: made all things dark */
  /* filter: brightness(50%); */
}

article .lokesh_heading {
  /* background: aqua; */
  min-width: 100%;
  max-width: 100%;
  margin: 5vw 0;
  font-size: calc(3 * var(--fs-header));
  font-family: var(--font1);
  /* uncommenting this creates unnecessary whitespace in the page */
  /* margin-bottom: 3rem; */
}

.intro .company_title {
  font-family: var(--font3);
  font-size: calc(4.5 * var(--fs-header));
  /* font-weight: bold; */
}

.intro .company_title::before {
  content: "\a";
  white-space: pre;
}

.intro .lokesh_capitalize {
  text-transform: uppercase;
}

.intro .lokesh_text-content {
  padding: 1rem 0;
  width: 80%;
  margin: 0 auto;
  font-size: calc(var(--fs-large) * 1.3);
  color: var(--primary);
}
