article .intro {
  width: 100%;
  min-height: calc(100vh);
  max-height: calc(100vh);
  padding-top: 10rem;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  background-image: url("./../../res/images//test/intro.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  color: var(--primary);
}

article .lokesh_heading {
  margin: 0 1rem;
  font-size: calc(4 * var(--fs-header));
  font-family: var(--font1);
  /* uncommenting this creates unnecessary whitespace in the page */
  /* margin-bottom: 3rem; */
}

.intro .company_title {
  font-family: var(--font3);
  font-size: calc(4 * var(--fs-header));
  /* font-weight: bold; */
}

.intro .company_title::before {
  content: "\a";
  white-space: pre;
}

.intro .lokesh_capitalize {
  text-transform: uppercase;
}

.intro .lokesh_text-content {
  padding: 1rem 0;
  width: 80%;
  margin: 0 auto;
  font-size: var(--fs-large);
  color: var(--primary);
}
