section.services{
  max-width: 100%;
  min-width: 100%;
  min-height: fit-content;
  max-height: fit-content;
  padding: 5rem 0;
  /* background-color: aqua; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  /* margin: 1rem 0; */
}

.services > div{
  padding-top: 2rem;
  /* background: aqua; */
  /* margin: 1rem 0; */
  width: calc(100vh / 4);
  text-align: center;
  /* border-radius: .5rem; */
}

.services .image-container img{
  width: calc(var(--fs-header) * 3);
  transition: scale 400ms;
  /* border: 1px solid black; */
}

.services > div:hover img{
  cursor: pointer;
  /* background-color: var(--primary); */
  scale: 110%;
  /* box-shadow: 0 0 .4rem var(--secondary); */
}

.services .vk-text-content{
  padding: 1rem;
  color: var(--accent);
  transition: color 400ms, scale 200ms ease-in;
  /* background-color: antiquewhite; */
}

.services > div:hover .vk-text-content{
  color: var(--secondary);
  scale: 105%;
}

.services .current{
  scale: 110%;
}

.services .cur_text{
  color: var(--secondary);
  scale: 105%;
  
}