section.services{
  max-width: 100%;
  min-width: 100%;
  min-height: fit-content;
  max-height: fit-content;
  padding: 3rem 0;
  /* background-color: aqua; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  /* margin: 1rem 0; */
}

.services > div{
  padding-top: 2rem;
  /* background: aqua; */
  /* margin: 1rem 0; */
  width: 50%;
  text-align: center;
  /* border-radius: .5rem; */
}

.services .image-container img{
  width: calc(var(--fs-header) * 3);
  transition: scale 400ms;
  /* border: 1px solid black; */
}

.services .vk-text-content{
  padding: 1rem;
}

.services .m-right-border{
  border-right: 1px solid var(--secondary);
}

.services .m-bottom-border{
  border-bottom: 1px solid var(--secondary);
}