.portfolio_images{
  min-width: 100%;
  max-width: 100%;
  min-height: fit-content;
  max-height: fit-content;
  text-align: center;
}

.portfolio_images .vk-title{
  display: none;
}

.portfolio_images .card{
  min-width: 30vw;
  max-width: 30vw;
  min-height: 18vw;
  max-height: 18vw;
  /* background: aqua; */
  /* border: 1px solid black; */
  text-align: center;
  padding: 0;
  margin: 1rem;
  position: relative;
  border: 0;
  font-family: var(--font1);
  font-size: var(--fs-medium);
  cursor: pointer;
}
.portfolio_images .card{
  min-width: 30vw;
  max-width: 30vw;
  min-height: 18vw;
  max-height: 18vw;
  /* background: aqua; */
  /* border: 1px solid black; */
  text-align: center;
  padding: 0;
  margin: 1rem;
  position: relative;
  border: 0;
  font-family: var(--font1);
  font-size: var(--fs-medium);
  cursor: pointer;
}

.portfolio_images .image-container{
  min-width: inherit;
  max-width: inherit;
  min-height: inherit;
  max-height: inherit;
  z-index: 3;
}
.portfolio_images .video-container{
  min-width: inherit;
  max-width: inherit;
  min-height: inherit;
  max-height: inherit;
  z-index: 3;
}

.portfolio_images .image-container img{
  min-width: inherit;
  max-width: inherit;
  min-height: inherit;
  max-height: inherit;
}
.portfolio_images .video-container video{
  min-width: inherit;
  max-width: inherit;
  min-height: inherit;
  max-height: inherit;
}

.portfolio_images .card-text-container{
  min-width: inherit;
  max-width: inherit;
  min-height: inherit;
  max-height: inherit;
  opacity: 0.7;
  background: var(--accent);
  padding: 2rem 1rem;
  /* margin: auto 5vw; */
  position: absolute;
  top: 0;
  z-index: 4;
}

.portfolio_images .card-text-container .vk-heading{
  font-size: var(--fs-header);
}

.portfolio_images .card-text-container .vk-text-content {
  bottom: 0;
  margin: 1rem 0;
  padding: 0 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  
  position: absolute;
  font-size: var(--fs-medium);
  /* line-height: 1.5rem;
  max-height: calc(1.5rem * 3); */
}
.services .current{
  cursor: pointer;
  background-color: var(--primary);
  scale: 120%;
  
}
.services .current_text{
  text-decoration: solid;
}