.portfolio_images{
  min-width: 100%;
  max-width: 100%;
  min-height: fit-content;
  max-height: fit-content;
  text-align: center;
}

.portfolio_images .vk-title{
  color: var(--secondary);
  text-transform: capitalize;
  font-size: calc(1.25 * var(--fs-header));
  padding-top: 2rem;
  font-family: var(--font3);
}

.portfolio_images .card{
  min-width: 90vw;
  max-width: 90vw;
  min-height: 60vw;
  max-height: 60vw;
  /* background: aqua; */
  /* border: 1px solid black; */

  text-align: center;
  position: relative;
  padding: 0;
  margin: 2rem auto;
  border: 0;

  font-family: var(--font1);
  font-size: var(--fs-medium);
  color: var(--secondary);
}

.portfolio_images .image-container, .portfolio_images .video-container{
  min-width: inherit;
  max-width: inherit;
  min-height: inherit;
  max-height: inherit;
  z-index: 3;
}

.portfolio_images .image-container img, .portfolio_images .video-container video{
  min-width: inherit;
  max-width: inherit;
  min-height: inherit;
  max-height: inherit;
  border-radius: 1em;
  box-shadow: 0 0 .5em var(--secondary);
}

.portfolio_images .card-text-container{
  min-width: 90vw;
  max-width: 90vw;
  min-height: 60vw;
  max-height: 60vw;
  opacity: 0.8;
  padding: 1rem 0;
  /* margin: auto 5vw; */
  position: absolute;
  top: 0;
  z-index: 4;
}

.portfolio_images .card-text-container .vk-heading{
  font-size: var(--fs-medium);
  text-transform: capitalize;
}

.portfolio_images .card-text-container .vk-text-content {
  bottom: 0;
  margin: 1rem 0;
  padding: 0 2rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  
  position: absolute;
  /* line-height: 1.5rem;
  max-height: calc(1.5rem * 3); */
}
